*{
    box-sizing: border-box;

}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(1, 15, 15);
}

h1 {
    text-align: center;
    font-size: 2rem;
    color: rgb(214, 214, 226);
}

header {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    width: 90%;
    /*border: 1px solid red;*/
    margin: auto auto;

}

input {
    height: 120px;
    font-size: 1.5rem;
    width: 80%;
    padding-left: 10%;
    text-align: center;

}

button.add {
    width: 20%;
    cursor: pointer;
    background: green;
    color: white;
    font-weight: bold;
    border: none;
    height: 120px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;

}

main {
    display: flex;
    flex-flow: row wrap;
    width: 90%;
    margin: auto auto;
   /* border: 1px solid blue;  */
    padding-top: 40px;

}

.item {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    background: white;
    height: 80px;
    width: 100%;
   /* box-shadow: 0 0 20px #ccc; */
    margin-bottom: 2%;
    cursor: pointer;
    
}
.item.clicado. {
    background: #a4e0b1;

}





.item.clicado .item-nome {
    text-decoration: line-through;
    color: gray;
}

.item-icone {
    flex: 20%;
    text-align: center;
    font-size: 2rem ;
    
}

.item-nome {
    flex: 55%;
    font-size: 2rem;
    font-weight: bold;

}

.item-botao {
    margin-left: auto;
      
    
    
}

.delete {
    background: red;
    color: white;
    border: none;
    padding: 10px ;
    height: 80px;
    border-bottom-right-radius: 10px;
    
    
}

.mdi-check-circle {
    color: green;
}


/* suas compras */

.compras {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    width: 90%;
    /*border: 1px solid red;*/
    margin: auto auto;

}

#listaCompras {

    display: flex;
    flex-direction: column;
   /* flex-flow: row wrap; */
    justify-content: space-around;
    
    align-items: normal;
   /* background: rgb(95, 21, 21); */
    height: 80px;
    width: 100%;
  /*  box-shadow: 0 0 20px #ccc; */
    margin-bottom: 2%;
    cursor: pointer;
    

}

li {
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex: 100%;
    font-size: 1.2rem;
    font-weight: bold;
    gap: 10%;
    color: rgb(214, 214, 226);
    margin-left: -5%;
    margin-top: 35%;
    
 


}

#total {
    color: rgb(199, 180, 10);
    font-size: 2.5rem;

}

#h2superior {
    color: rgb(214, 214, 226);
    font-size: 2rem;
    margin-left: 20%;
    margin-bottom: 5%;
    margin-top: 20%;


}

h2 {
    margin-top: -28%;
    margin-left: 65%;
    margin-bottom: 30%;
    font-size: 1.5rem;
    color: rgb(214, 214, 226);
    
}

#btn_adicionarCompra {
    width: 20%;
    cursor: pointer;
    background: green;
    color: white;
    font-weight: bold;
    border: none;
    height: 120px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;

}

#inputProduto {
    width: 100%;
}

#inputQuantidade {
    width: 100%;

}
